

.profiles{
    text-align: center;
    background-color: antiquewhite;
    border-radius: 10px;
    color: red;
    margin-top: 100px;
} 

 .HeadProfileDetails{
    display: flex;
 }
 .imges img{
    border-radius: 70%;
    
 }
 .social{
   font-size: 20px;
 }
 .imges{
   margin: auto 0 ;
 }
 .HeadProfileDetails{
   background-color: rgba(183, 112, 19,0.1);
 }
 .Profile-head{
  margin-top: -50px;
 }
 .fa {
  padding: 20px;
  font-size: 30px;
  width: 60px;
 
  object-fit: contain cover;
  border-radius: 10px;
  text-decoration: none;
  margin-right: 10px;
  
}
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
  
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}