.head{
    width: 100%;
    flex-direction: row-reverse;
    background-color: beige;
    margin: 0;
    padding: 0;
    
   

}
img{
   height: 600px;
   flex-direction: row-reverse;
}
.heading{
    height: 600px;
    margin-top: 100px;   
}
.heading h1{
    font-size: 60px;
}
button{
    width: 200px;
    height: 80px;
    font-size: 30px;
    background-color: aqua;
    box-shadow: 0 0 20px 10px rgba(10, 155, 199, 1);
    
}
button:hover{
    width: 210px;
    height: 80px;
    font-size: 30px;
    background-color: rgb(255, 1, 1);
    box-shadow: 0 0 20px 10px rgba(10, 155, 199, 1);
    color: white;
}
@media (max-width:500px) {
    .heading{
        width: 500px;
        flex-direction:column-reverse;
        background-color: aquamarine;

    }
    .img-head img{
       flex-direction: column-reverse;
       flex-wrap: nowrap;
      flex-flow: wrap-reverse;
        

    }
}
