.Header{
    display: flex;
   
    background-color: aquamarine;
}
.logo h1{
    font-family:cursive;
}
.navbar ul{
  list-style: none;
  display: flex;
  
}
.navbar ul li{
    margin: 20px;
}
@media only screen and (max-width:600px) {
    .navbar{
       display: none; 
    }
    .nav1{
        display: block;
        text-align: center;
       
    }
    .logo h1{
 font-size: small;
 width: 100%;
    }

}
