.skrill,.skrill1,.skrill2,.skrill3{
    margin: 10px;
}
.width{
    height: 30px;
    background-color: aquamarine;
    border-radius: 10px;
}
.width1{
    width: 50%;
    height: 30px;
    background-color: rgb(232, 133, 12);
    z-index: 11;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}
.radios{
    height:30px;
    width: 30px;
    border-radius: 50%;
    background-color: blue;
    margin-left: auto;
    padding: 0;
    
}









